<form class="form-style-9">
    <ul>
        <li>
            <input type="text" name="field1" class="field-style field-full align-left" placeholder="Tên" />
        </li>
        <li>
            <input type="text" name="field3" class="field-style field-full align-left" placeholder="Giá" />
        </li>
        <li>
            <input type="text" name="field3" class="field-style field-full align-none" placeholder="Nhà xuất bản" />
        </li>
        <li>
            <textarea name="field5" class="field-style" placeholder="Message"></textarea>
        </li>
        <li>
            <input type="submit" value="Send Message" />
        </li>
    </ul>
</form>