<form class="form-style-9" id="addEventForm">
    <ul>
        <li>
            <input id="input-name" type="text" name="field1" class="field-style field-full align-left" placeholder="Tên sự kiện" />
        </li>
        <li>
            <textarea id="input-description" name="field5" class="field-style" placeholder="Mô tả"></textarea>
        </li>
        <li>
            <input id="input-file" type="file" name="img[]" class="field-style field-split align-left" placeholder="File" multiple="">
        </li>
        <li>
            <input type="submit" value="Thêm sách" />
        </li>
    </ul>
</form>

