<header>
    <nav class="navbar-fixed-left">
        <ul>
            <li>
                <a class="brand" href="#">
                    <img src="/images/logo.png" alt="logo" class="img-responsive">
                </a>
            </li>
            <li class="avatar">
                <img src="/images/face4.jpg" alt="avatar" class="img-responsive img-circle" id="avatar-big">
                <div class="avatar-info">
                    <p style="font-size:12px;font-weight: 500;" id="username">{{user.local.username}}</p>
                    {{!-- <p style="color:#8d9498">Manager</p>
                    <p class="online-status">Online</p> --}}
                </div>
            </li>
            <li class="menu" id="menu_dashboard">
                <a href="#">Dashboard</a>
            </li>
            <li class="menu" id="menu_order">
                <a href="#">Order</a>
            </li>
            <li class="menu" id="menu_sale">
                <a href="#">Sale</a>
            </li>
            <li class="menu" id="menu_book">
                <a href="#">Book</a>
            </li>
            <li class="menu" id="menu_category">
                <a href="#">Category</a>
            </li>
            <li class="menu" id="menu_statistic">
                <a href="#">Statistic</a>
            </li>
            <li class="menu" id="menu_event">
                <a href="#">Event</a>
            </li>
        </ul>
    </nav>
    <div class="header-top">
        <div class="avatar-mini">
            <img src="/images/face4.jpg" alt="avatar-mini" class="img-responsive img-circle">
        </div>
        <div class="notification">
            <i class="fas fa-bell"></i>
            <i class="fas fa-envelope"></i>
        </div>
    </div>
</header>