<div class="kiki-banner mt-20">
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <a href="#">                        
                <img src="./images/pexels-photo-192136.jpeg" alt="kiki-banner-1" class="img-responsive">
            </a>
        </div>    
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <a href="#">                       
                <img src="./images/pexels-photo-674268.jpeg" alt="kiki-banner-2" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <a href="#">                        
                <img src="./images/pexels-photo-911758.jpeg" alt="kiki-banner-3" class="img-responsive remove-content">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <a href="#">                        
                <img src="./images/pexels-photo-192136.jpeg" alt="kiki-banner-4" class="img-responsive remove-content">
            </a>
        </div>
    </div>
    </div>  