<div class="ma-review-col1 span5">
    <h2 class="own-review">Khách Hàng Nhận Xét</h2>
    <dl>
        {{#each commentList}}
            <div class="f-review-container">
                <div class="fhs-review-title">
                    <h4>{{this.title}}</h4>
                </div>
                <div class="fhs-review-by-block">
                    Nhận xét bởi
                    <span class="fhs-review-by">{{this.name}}</span>,
                    <small class="date">vào ngày {{this.date}}</small>
                </div>
                <dd class="fhs-review-block-content">
                    {{this.message}}
                </dd>
            </div>
        {{/each}}
    </dl>
</div>