<div class="new-book-panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{name}}</h3>
        </div>
        <div class="panel-body">
            <ul class="row" style="list-style: none;">
                {{#each items}}
                {{>preItem Book=this}}
                {{/each}}
            </ul>
            <ul class="pagination"  style="display: flex;justify-content: center;">
                {{#each itemsPage}}
                {{>pageItem Page=this}}
                {{/each}}
            </ul> 
        </div>
    </div>
</div>