<div class="header-link">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <ul class="nav-link remove-content">
                    <li>
                        {{info.email}}
                    </li>
                    <li>
                        {{info.number}}
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <ul class="nav-link float-right">
                    {{>Reg user=this.user}}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header-main mt-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <a href="./">
                    <img src="./images/logo.png" alt="brand-logo" class="img-logo">
                </a>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" name="keyword" placeholder="Tìm kiếm sản phẩm mong muốn ... " />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger">
                                <span class="search-button fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="shopping-cart">
                    <span class="fa fa-shopping-cart"></span>
                    <p>GIỎ HÀNG</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{>Login}}