<div class="overview">
    <div class="card">
        <div class="clearfix">
            <div class="float-left">
                <i class="fas fa-book" style="color:#745af2"></i>
            </div>
            <div class="float-right" style="margin-top: 40px; margin-right:30px">
                <p class="card-text text-right">Books</p>
                <h3 class="card-title text-right" id="book-size">{{books}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="order-table">
    <h3>Orders</h3>
    <div class="table-responsive">
        <table class="table center-aligned-table s-table">
            <thead>
                <tr>
                    <th class="border-bottom-0">Tên sách</th>
                    <th class="border-bottom-0">Thể loại</th>
                    <th class="border-bottom-0">Tác giả</th>
                    <th class="border-bottom-0"></th>
                    <th class="border-bottom-0"></th>
                    <th class="border-bottom-0"></th>
                </tr>
            </thead>
            <tbody>
                {{#each booklist}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.type.name}}</td>
                    <td>{{this.author.name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>