<ul id="menuBook" class="dropdown-content">
    <li>
        <a href="">SÁCH BÁN CHẠY</a>
    </li>
    <li>
        <a href="">SÁCH MỚI PHÁT HÀNH</a>
    </li>
    <li>
        <a href="">SÁCH TIẾNG VIỆT</a>
    </li>
    <li>
        <a href=""> SÁCH TIẾNG ANH</a>
    </li>
    <li>
        <a href="">SÁCH NỔI BẬT</a>
    </li>
    <li>
        <a href="">SÁCH SẮP PHÁT HÀNH</a>
    </li>
    <li>
        <a href="">VĂN PHÒNG PHẨM</a>
    </li>
    <li >
        <a href="">THỂ LOẠI</a>
        <ul id="types">

        </ul>
    </li>
</ul>