<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KiKi BookStore Admin</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style-admin.css">
    <link rel="stylesheet" href="../public/css/fontawesome-all.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar-fixed-left">
            <ul>
                <li>
                    <a class="brand" href="#">
                        <img src="../public/images/logo.png" alt="logo" class="img-responsive">
                    </a>
                </li>
                <li class="avatar">
                    <img src="../public/images/face4.jpg" alt="avatar" class="img-responsive img-circle">
                    <div class="avatar-info">
                        <p style="font-size:12px;font-weight: 500;">Richard V.Welsh</p>
                        <p style="color:#8d9498">Manager</p>
                        <p class="online-status">Online</p>
                    </div>
                </li>
                <li class="menu">
                    <a href="#">Dashboard</a>
                </li>
                <li class="menu">
                    <a href="#">Order</a>
                </li>
                <li class="menu">
                    <a href="#">Sale</a>
                </li>
                <li class="menu">
                    <a href="#">Book</a>
                </li>
                <li class="menu">
                    <a href="#">Category</a>
                </li>
                <li class="menu">
                    <a href="#">Statistic</a>
                </li>
            </ul>
        </nav>
        <div class="header-top">
            <div class="avatar-mini">
                <img src="../public/images/face4.jpg" alt="avatar-mini" class="img-responsive img-circle">
            </div>
            <div class="notification">
                <i class="fas fa-bell"></i>
                <i class="fas fa-envelope"></i>
            </div>
        </div>
    </header>
    <div class="content" style="margin:20px 10px 20px 270px">
        <div class="overview">
            <div class="card">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="fas fa-cubes" style="color:red"></i>
                    </div>
                    <div class="float-right" style="margin-top: 40px; margin-right:30px">
                        <p class="card-text text-right">Total Revenue</p>
                        <h3 class="card-title text-right">$65,650</h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="fas fa-shopping-cart" style="color: #ffc105"></i>
                    </div>
                    <div class="float-right" style="margin-top: 40px; margin-right:30px">
                        <p class="card-text text-right">Orders</p>
                        <h3 class="card-title text-right">3455</h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="fas fa-dollar-sign" style="color:#58d8a3;"></i>
                    </div>
                    <div class="float-right" style="margin-top: 40px; margin-right:30px">
                        <p class="card-text text-right">Sales</p>
                        <h3 class="card-title text-right">5693</h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="fas fa-book" style="color:#745af2"></i>
                    </div>
                    <div class="float-right" style="margin-top: 40px; margin-right:30px">
                        <p class="card-text text-right">Books</p>
                        <h3 class="card-title text-right">246</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="test">
            <h1>Test 1</h1>
        </div>
        <div class="order-table">
            <h3>Orders</h3>
            <div class="table-responsive">
                <table class="table center-aligned-table">
                    <thead>
                        <tr>
                            <th class="border-bottom-0">Order No</th>
                            <th class="border-bottom-0">Product Name</th>
                            <th class="border-bottom-0">Purchased On</th>
                            <th class="border-bottom-0">Shipping Status</th>
                            <th class="border-bottom-0">Payment Method</th>
                            <th class="border-bottom-0">Payment Status</th>
                            <th class="border-bottom-0"></th>
                            <th class="border-bottom-0"></th>
                            <th class="border-bottom-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>034</td>
                            <td>Iphone 7</td>
                            <td>12 May 2017</td>
                            <td>Dispatched</td>
                            <td>Credit card</td>
                            <td>
                                <span class="label label-success">Approved</span>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-sm">View Order</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                        <tr>
                            <td>035</td>
                            <td>Galaxy S8</td>
                            <td>15 May 2017</td>
                            <td>Dispatched</td>
                            <td>Internet banking</td>
                            <td>
                                <label class="label label-warning">Pending</label>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-sm">View Order</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                        <tr>
                            <td>036</td>
                            <td>Amazon Echo</td>
                            <td>17 May 2017</td>
                            <td>Dispatched</td>
                            <td>Credit card</td>
                            <td>
                                <label class="label label-success">Approved</label>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-sm">View Order</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                        <tr>
                            <td>037</td>
                            <td>Google Pixel</td>
                            <td>17 May 2017</td>
                            <td>Dispatched</td>
                            <td>Cash on delivery</td>
                            <td>
                                <label class="label label-danger">Rejected</label>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-sm">View Order</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                        <tr>
                            <td>038</td>
                            <td>Mac Mini</td>
                            <td>19 May 2017</td>
                            <td>Dispatched</td>
                            <td>Debit card</td>
                            <td>
                                <label class="label label-success">Approved</label>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-sm">View Order</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="../public/js/jquery-3.3.1.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>