<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KiKi BookStore Admin</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style-admin.css">
    <link rel="stylesheet" href="./css/fontawesome-all.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>
    {{>Admin-header}}
    <div class="content" style="margin:20px 10px 20px 270px">
        <div class="overview">
            <div class="card">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="fas fa-cubes" style="color:red"></i>
                    </div>
                    <div class="float-right" style="margin-top: 40px; margin-right:30px">
                        <p class="card-text text-right">Total Revenue</p>
                        <h3 class="card-title text-right">$65,650</h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="fas fa-shopping-cart" style="color: #ffc105"></i>
                    </div>
                    <div class="float-right" style="margin-top: 40px; margin-right:30px">
                        <p class="card-text text-right">Orders</p>
                        <h3 class="card-title text-right">3455</h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="fas fa-dollar-sign" style="color:#58d8a3;"></i>
                    </div>
                    <div class="float-right" style="margin-top: 40px; margin-right:30px">
                        <p class="card-text text-right">Sales</p>
                        <h3 class="card-title text-right">5693</h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="fas fa-book" style="color:#745af2"></i>
                    </div>
                    <div class="float-right" style="margin-top: 40px; margin-right:30px">
                        <p class="card-text text-right">Books</p>
                        <h3 class="card-title text-right">246</h3>
                    </div>
                </div>
            </div>
        </div>
            {{!-- <div class="test">
                <h1>Test 1</h1>
            </div> --}}
        <div class="order-table">
            <h3>Orders</h3>
            <div class="table-responsive">
                <table class="table center-aligned-table s-table">
                    <thead>
                        <tr>
                            <th class="border-bottom-0">Order No</th>
                            <th class="border-bottom-0">Product Name</th>
                            <th class="border-bottom-0">Purchased On</th>
                            <th class="border-bottom-0">Shipping Status</th>
                            <th class="border-bottom-0">Payment Method</th>
                            <th class="border-bottom-0">Payment Status</th>
                            <th class="border-bottom-0"></th>
                            <th class="border-bottom-0"></th>
                            <th class="border-bottom-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>034</td>
                            <td>Iphone 7</td>
                            <td>12 May 2017</td>
                            <td>Dispatched</td>
                            <td>Credit card</td>
                            <td>
                                <span class="label label-success">Approved</span>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-sm">View Order</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                        <tr>
                            <td>035</td>
                            <td>Galaxy S8</td>
                            <td>15 May 2017</td>
                            <td>Dispatched</td>
                            <td>Internet banking</td>
                            <td>
                                <label class="label label-warning">Pending</label>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-sm">View Order</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                        <tr>
                            <td>036</td>
                            <td>Amazon Echo</td>
                            <td>17 May 2017</td>
                            <td>Dispatched</td>
                            <td>Credit card</td>
                            <td>
                                <label class="label label-success">Approved</label>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-sm">View Order</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                        <tr>
                            <td>037</td>
                            <td>Google Pixel</td>
                            <td>17 May 2017</td>
                            <td>Dispatched</td>
                            <td>Cash on delivery</td>
                            <td>
                                <label class="label label-danger">Rejected</label>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-sm">View Order</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                        <tr>
                            <td>038</td>
                            <td>Mac Mini</td>
                            <td>19 May 2017</td>
                            <td>Dispatched</td>
                            <td>Debit card</td>
                            <td>
                                <label class="label label-success">Approved</label>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-success btn-sm">View Order</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-danger btn-sm">Cancel</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>