{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KiKi BookStore Admin</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style-admin.css">
    <link rel="stylesheet" href="./css/fontawesome-all.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head> --}}

    {{>Admin-header}}
    <div class="content" style="margin:20px 10px 20px 270px" id="content">
        {{>adminContent}}
    </div>
    {{>Script scripts=this.scripts}} 

{{!-- </html> --}}