{{#if login}}
    {{> adminLogin}}
{{else}}
 {{>adminHeader}}
<div class="content" style="margin:20px 10px 20px 270px" id="content">
    {{>adminContent}}
</div>
{{/if}}
{{>Script scripts=this.scripts}}