<div class="wrapper">
    <header>
        {{>Header info=this.info}}
    </header>
    <div class="menu-and-slide mt-20">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <nav class="main-menu" id="menu">
                    <button onclick="showMenu()" class="dropbtn">
                        <span>DANH MỤC</span>
                    </button>
                    {{>Menu}}
                </nav>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
+                     {{>Slider}}
+           </div>
        </div>
    </div>
    <div class="content">
        {{> Banners}}
        <div class="category-slider mt-20" id="content">

        </div>
    </div>
    <footer>
        {{>Footer info=this.info}}
    </footer>
</div>
{{>Script scripts=this.scripts}} 
