<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/fontawesome-all.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
    <title>{{title}}</title>
</head>

<body>
    <div class="wrapper">
        <header>
            {{>Header info=this.info}}
        </header>
        <div class="menu-and-slide mt-20">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <nav class="main-menu" id="menu">
                        <button onclick="showMenu()" class="dropbtn">
                            <span>DANH MỤC</span>
                        </button>
                        {{>Menu}}
                    </nav>
                </div>
                {{>Slider}}
            </div>
        </div>
        <div class="content">
            {{> Banners}}
            <div class="category-slider mt-20" id="content">

            </div>
        </div>
        <footer>
            {{>Footer info=this.info}}
        </footer>
    </div>
     {{>Script script=this.script}} 
     {{#each scripts}}
    <script src="./js/{{this}}"></script>
     {{/each}}
</body>

</html>