<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/fontawesome-all.css">
  <link rel="stylesheet" href="/css/alertify.core.min.css">
  {{#if css}} 
    {{#each css}} 
      <link rel="stylesheet" href="{{this}}" />
    {{/each}} 
  {{else}}
    <link rel="stylesheet" href="/css/style.css"> 
  {{/if}}
  <title>{{title}}</title>
</head>

<body>
  <div class="top-promote">
    <img src="/images/top-promo.jpg" class="img-responsive" alt="top-promote">
  </div>
  {{{body}}}
</body>

</html>