<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="/css/fontawesome-all.css"> --}}
  <link rel="stylesheet" href="/css/alertify.core.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  {{#if css}} 
    {{#each css}} 
      <link rel="stylesheet" href="{{this}}" />
    {{/each}} 
  {{else}}
    <link rel="stylesheet" href="/css/style.css"> 
  {{/if}}
  <title>{{title}}</title>
</head>

<body>
  {{{body}}}
  <div class="modalLoading"></div>
</body>

</html>