<div class="shipping-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="img-logo">
                    <a href="./">
                        <img src="./images/logo.png" alt="brand-logo" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="img-logo">
                    <img src="https://vcdn.tikicdn.com/assets/img/hotline.png" height="42" width="176" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shipping-content">
    <div class="wrapper2">
        <div class="title">
            <h4>Địa chỉ giao hàng</h4>
            <p>Chọn địa chỉ giao hàng có sẵn bên dưới</p>
        </div>
        <div class="address-box">
            <p class="name">Nguyễn Văn A</p>
            <p class="address">Địa chỉ: Nguyễn Văn Cừ, Quận 5, TP.HCM</p>
            <p class="phone">Điện thoại: 0988987654</p>
            
            <button class="btn btn-primary">Giao hàng</button>
            
        </div>
    </div>
</div>
<footer class="rps-hidden">
    {{> Footer info=this.info}}
</footer>