body {
    margin: 0;
    padding: 0;
    background: #F0F0F0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-banner-block {
    height: 70px;
    background: #fff;
    text-align: center;
}
.top-banner-block img {
    width:100%;
    height: auto;
}
.nav-link  {
    margin-top: 10px;
}
.nav-link > li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 12px;
    border-right: 2px solid #e6e6e6;
    vertical-align: bottom;
    font-size: 12px;
}
.nav-link li:last-child {
    border-right: 0px solid #e6e6e6;
}
.float-right {
    float: right;
}
.nav-link li a{
    text-decoration: none;
    color: #000;
}
.mt-20 {
    margin-top: 20px;
}
.mr-5 {
    margin-right: 5px;
}
.ml-10 {
    margin-left: 10px;
}

input[type=text] {
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}
button[type=button] {
    width: 60px;
    font-size: 18px;
    height: 40px;
}

span.shopping-cart {
    font-size: 30px;
}
div.shopping-cart p {
   display: inline;
}
div.shopping-cart {
    color: #ed1c24;
    margin-left: 30px;
    cursor: pointer;
 }
 .wrapper {
     margin: 10px 50px 0px 50px;
 }

.main-menu button{
    background: darkslategrey; 
    display: block;
    padding: 15px;
    color: #fff;
    width: 100%;
}
.main-menu li {
    list-style: none;
    width: 100%;
    background-color: white;
}

.main-menu ul {
    width: 100%;
    padding: 0px;
}

.main-menu a {  
    background-color: transparent;
    color: black;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.main-menu a:hover {
    background-color: #ccc;
}


footer {
    border: 1px solid lightgray;
    padding-top: 30px;
    background: #fff;
    padding-bottom: 20px;
}
footer h5 {
    padding-left: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
footer a {
    text-align: left;
    padding: 5px;
    padding-left: 45px;
    font-size: 12px;
    display: block;
    text-decoration: none;
    color: #000;
}
.footer-contact {
    font-size: 12px;
}

.img-logo {
    width: 100%;
}

.dropbtn {
    cursor: context-menu;
}

.dropbtn:active { border-style: outset;}

@media only screen and (max-width: 475px) {
    .float-right {
        float: left;
    }

    .dropdown-content {
        display: none;
    }

    .dropbtn {
        cursor: pointer;
    }

    #mySlider {
        margin-top: 10px;
    }
    
}

.show {
    display:block;
}

.contact {
    padding-left: 45px;
}

.container-footer {
    width: 100%;
}

.item {
    height: 400px;
    margin-top: 20px;
}

.item-img-container {
    height: 300px;
}

.item-img {
    height: 90%;
    width: auto;
    margin:auto;
}

.item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    font-weight: bold;
}

.author {
    font-weight: 300;
    font-size: 0.8em;
}

.finalPrice {
    font-weight: bold;
    font-size: 1.2em;
}

.regularPrice {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 0.8em;
}

.sale {
	position: relative;
	display: inline-block;
	background: orange;
	color: white;
	height: 3em;
    width: 3em;
    line-height: 3em;
	text-align: center;
	vertical-align: middle;
	margin-left: 20px; 
	transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;
    font-size: 0.8em;
}
.sale::before,
.sale::after {
    content:"";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
}
.sale::after {
    transform: rotate(60deg);
}

@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}

/* Type  */

.main-menu ul li:hover ul {

    visibility: visible;

}

.main-menu ul ul {
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: -30px;
    z-index: 9999;
    height: 100%;
    background-color: transparent;
}

.detail-menu {
    display: none;
    padding: 0px;
    width: 100%;
    position: absolute;
    z-index: 99999;
}

.dropbtn:hover + .detail-menu{
    display: flex;


}

.detail-menu:hover {
    display: flex;
}

#types {
    background-color: #fff;
    border-style: solid;
    border-color: #5b94ef;
    border-width: 0px;  
    transition: border 1s ease;
    -webkit-transition:   border 1s ease;
    -moz-transition:   border 1s ease;
    -o-transition:   border 1s ease;
    -ms-transition: border 1s ease;
    transition:  border 1s ease;
}

#types:hover {
    border-width: 5px;
}

