body {
    margin: 0;
    padding: 0;
    background: #F0F0F0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-banner-block {
    height: 70px;
    background: #fff;
    text-align: center;
}
.top-banner-block img {
    width:100%;
    height: auto;
}
.nav-link  {
    margin-top: 10px;
}
.nav-link > li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 12px;
    border-right: 2px solid #e6e6e6;
    vertical-align: bottom;
    font-size: 12px;
}
.nav-link li:last-child {
    border-right: 0px solid #e6e6e6;
}
.float-right {
    float: right;
}
.nav-link li a{
    text-decoration: none;
    color: #000;
}
.mt-20 {
    margin-top: 20px;
}
.mr-5 {
    margin-right: 5px;
}
.ml-10 {
    margin-left: 10px;
}

input[type=text] {
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}
button[type=button] {
    width: 60px;
    font-size: 18px;
    height: 40px;
}

div.shopping-cart span {
    font-size: 30px;
}
div.shopping-cart p {
   display: inline;
}
div.shopping-cart {
    color: #ed1c24;
    margin-left: 30px;
    cursor: pointer;
 }
 .wrapper {
    margin: 10px 20px 10px 20px;
 }

.main-menu button{
    background: darkslategrey; 
    display: block;
    padding: 15px;
    color: #fff;
    width: 100%;
}
.main-menu li {
    list-style: none;
    width: 100%;
    background-color: white;
}

.main-menu ul {
    width: 100%;
    padding: 0px;
}

.main-menu a {  
    background-color: transparent;
    color: black;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.main-menu a:hover {
    background-color: #ccc;
}


footer {
    border: 1px solid lightgray;
    padding-top: 30px;
    background: #fff;
    padding-bottom: 20px;
}
footer h5 {
    padding-left: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
footer a {
    text-align: left;
    padding: 5px;
    padding-left: 45px;
    font-size: 12px;
    display: block;
    text-decoration: none;
    color: #000;
}
.footer-contact {
    font-size: 12px;
}

.img-logo {
    width: 100%;
}

.dropbtn {
    cursor: context-menu;
}

.dropbtn:active { border-style: outset;}

@media only screen and (max-width: 768px) {
    .remove-content {
        display: none;
    }
    .dropdown-content {
        display: none;
    }

    .dropbtn {
        cursor: pointer;
    }
    .img-logo {
        display: block;
        margin-top: -15px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .input-group {
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    input[type=text] {
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 11px;
    }

    div.shopping-cart {
        display: table;
        margin: 20px auto;
    }
    div.shopping-cart span{
       font-size: 20px;
    }
    .main-menu button{
        padding: 10px;
        margin-top: -20px;
    }
}

.show {
    display:block;
}

.contact {
    padding-left: 45px;
}

.container-footer {
    width: 100%;
}

.item {
    height: 400px;
    margin-top: 20px;
}

.item-img-container {
    height: 300px;
}

.item-img {
    height: 90%;
    width: auto;
    margin:auto;
}

.item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    font-weight: bold;
}

.author {
    font-weight: 300;
    font-size: 0.8em;
}

.finalPrice {
    font-weight: bold;
    font-size: 1.2em;
}

.regularPrice {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 0.8em;
}

.sale {
	position: relative;
	display: inline-block;
	background: orange;
	color: white;
	height: 3em;
    width: 3em;
    line-height: 3em;
	text-align: center;
	vertical-align: middle;
	margin-left: 20px; 
	transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;
    font-size: 0.8em;
}
.sale::before,
.sale::after {
    content:"";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
}
.sale::after {
    transform: rotate(60deg);
}

@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}

/* Type  */

.main-menu ul li:hover ul {

    visibility: visible;

}

.main-menu ul ul {
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: -30px;
    z-index: 9999;
    height: 100%;
    background-color: transparent;
}

.detail-menu {
    display: none;
    padding: 0px;
    width: 100%;
    position: absolute;
    z-index: 99999;
}

.dropbtn:hover + .detail-menu{
    display: flex;


}

.detail-menu:hover {
    display: flex;
}

#types {
    background-color: #fff;
    border-style: solid;
    border-color: #355;
    border-width: 0px;  
    transition: border 1s ease;
    -webkit-transition:   border 1s ease;
    -moz-transition:   border 1s ease;
    -o-transition:   border 1s ease;
    -ms-transition: border 1s ease;
    transition:  border 1s ease;
}

#types:hover {
    border-width: 5px;
}


/*Modal*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  ul, li {
      margin: 0;
      padding: 0;
  }
  
  .main-nav {
    width: 90%;
      max-width: 240px;
      margin: 0 auto;
    height: 100%;
    cursor: pointer;
  }
  .main-nav ul {
      position: absolute;
    width: 100%;
      top: 40%;
      margin: 0;
      padding: 0;
  }
  .main-nav li {
      list-style: none;
      float: left;
  }
  .main-nav a {
    display: block;
    height: 50px;
      margin: 10px;
      padding: 2px 25px;
      text-decoration: none;
      border-radius: 30px;
    line-height: 45px;
    color: #FFF;
      -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
  }
  
  .main-nav li:nth-child(1) a {
      background: #d83d3d;
      border: 2px solid #fff;
  }
  .main-nav li:nth-child(1) a:hover {
      background: #fff;
      color: #d83d3d;
  }
  
  .main-nav li:nth-child(2) a {
    background: #9e2c2c;
      border: 2px solid #9e2c2c;
  }
  .main-nav li:nth-child(2) a:hover {
      background: #b13131;
      border: 2px solid #b13131;
  }
  
  .user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(127, 37, 37, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
  }
  .user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
  }
  .user-modal.is-visible .user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  
  .user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .user-modal-container .switcher:after {
    content: "";
    display: table;
    clear: both;
  }
  .user-modal-container .switcher li {
    width: 50%;
    float: left;
    text-align: center;
      list-style:none;
  }
  .user-modal-container .switcher li:first-child a {
    border-radius: .25em 0 0 0;
  }
  .user-modal-container .switcher li:last-child a {
    border-radius: 0 .25em 0 0;
  }
  .user-modal-container .switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
      text-decoration: none;
  }
  .user-modal-container .switcher a.selected {
    background: #FFF;
    color: #505260;
  }
  @media only screen and (min-width: 600px) {
    .user-modal-container {
      margin: 4em auto;
    }
    .user-modal-container .switcher a {
      height: 70px;
      line-height: 70px;
    }
  }
  
  .form {
    padding: 1.4em;
  }
  .form .fieldset {
    position: relative;
    margin: 1.4em 0;
  }
  .form .fieldset:first-child {
    margin-top: 0;
  }
  .form .fieldset:last-child {
    margin-bottom: 0;
  }
  .form label {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
  .form label.username {
    background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-username.svg");
  }
  .form label.email {
    background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-email.svg");
  }
  .form label.password {
    background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-password.svg");
  }
  .form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
  }
  .form input.full-width {
    width: 100%;
  }
  .form input.has-padding {
    padding: 12px 20px 12px 50px;
  }
  .form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  .form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
  }
  .form input.has-error {
    border: 1px solid #d76666;
  }
  .form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
  }
  .form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #F64747;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
      -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
  }
  .form input[type=submit]:hover {
      background: #d83d3d;
  }
  .no-touch .form input[type=submit]:hover, .no-touch .form input[type=submit]:focus {
    background: #d83d3d;
    outline: none;
  }
  .form .hide-password {
    display: inline-block;
    position: absolute;
      text-decoration: none;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
  }
  .form .error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
  }
  .form .error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
  }
  .form .error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
  }
  @media only screen and (min-width: 600px) {
    .form {
      padding: 2em;
    }
    .form .fieldset {
      margin: 2em 0;
    }
    .form .fieldset:first-child {
      margin-top: 0;
    }
    .form .fieldset:last-child {
      margin-bottom: 0;
    }
    .form input.has-padding {
      padding: 16px 20px 16px 50px;
    }
    .form input[type=submit] {
      padding: 16px 0;
    }
  }
  
  .form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
  }
  @media only screen and (min-width: 600px) {
    .form-message {
      padding: 2em 2em 0;
    }
  }
  
  .form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .form-bottom-message a {
    color: #FFF;
    text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, .0);
      padding: 0 0 0 2px;
      -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
  }
  .form-bottom-message a:hover {
      animation: borderslide-3px .5s;
      border-bottom: 1px solid rgba(255, 255, 255, 1);
      padding-bottom: 3px;
  }
  
  @keyframes borderslide-3px {
    0% {
          padding-bottom: 1px;
    }
    50% {
          padding-bottom: 3px;
    }
  }
  
  @keyframes borderslide-2px {
    0% {
          padding-bottom: 1px;
    }
    50% {
          padding-bottom: 2px;
    }
  }
  
  .close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../img/icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  @media only screen and (min-width: 1170px) {
    .close-form {
      display: none;
    }
  }
  
  .accept-terms {
      color: #F64747;
      text-decoration: none;
      padding: 0 1px 1px 2px;
      border-bottom: 1px solid rgba(246, 71, 71, .0);
      -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
  }
  
  .accept-terms:hover {
      animation: borderslide-2px .5s;
      padding-bottom: 2px;
      border-bottom: 1px solid rgba(246, 71, 71, 1);
  }
  
  #login, #signup, #reset-password {
    display: none;
  }
  
  #login.is-selected, #signup.is-selected, #reset-password.is-selected {
    display: block;
  }


.ma-review-col1.span5 {
    margin-bottom: 20px;
}

.ma-review-col1 {
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 30px;
    padding-bottom: 50px;
}
.f-review-container {
    border-bottom: 1px dotted #A0A0A0;
    margin-bottom: 15px;
}   

.fhs-review-by-block {
    margin-bottom: 10px;
}

.fhs-review-block-content {
    margin-bottom: 20px;
    color: #2F2F2F;
}

.fhs-review-by {
    color: #0066c0;
}

dd {
    margin-left: 0;
}
/**/

#form-comment{
    border: 1px solid #e6e6e6;
    padding: 30px;
    padding-top: 37px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    background: white;
    margin-bottom: 20px;
}

.font-bold {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}   
.color-black {
    color: black;
}
.form-list label {
    margin-bottom: 2px;
    color: #666666; 
}
.form-list label {
    float: left;
    color: #2c2c2c;
    font-weight: normal;
    position: relative;
    z-index: 0;
    font-size: 14px;
}
label {
    padding: 4px;
    font-weight: normal;
    color: #555555;
}
.form-list label.required em {
    color: #EE001C;
    margin: 0 3px 0 0;
}

.form-list .input-box {
    display: block;
    clear: both;
    width: 260px;
}

.full-width {
    width: 100% !important;
}

.form-list input.input-text {
    width: 254px;
    padding: 7px 0 7px 7px;
    margin-bottom: 5px;
}

.form-list .input-text {
    width: 98%;
    min-height: 32px;
    padding-left: 5px !important;
}

.input-box input {
    background-color: white !important;
}

.form-list li {
    overflow: hidden;
    padding: 5px 3px;
}

.review-rule {
    border: 1px solid #F7941E;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttons-set {
    clear: both;
    margin: 20px 0 0;
    padding: 8px 0 0;
    border-top: 1px solid #f2f2f2;
    text-align: right;
}

button.button span {
    color: white;
    background-color: #F7941E;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
}

button.button {
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}