<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/fontawesome-all.css">
    <link rel="stylesheet" href="./css/book-style.css">
    <title>Nhà sách KiKi</title>
</head>
<body>
    <div class="wrapper">  
        <header>  
            <!-- <div class="top-banner-block img-responsive">
                <p>
                    <a href="#">
                        <img src="https://www.fahasa.com/media/wysiwyg/Thang-5-2018/Summer-1263x80.jpg" alt="logo">
                    </a>
                </p>
                <p>TOP BANNER BLOCK</p>
            </div> -->
            <div class="header-link">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <ul class="nav-link remove-content">
                                <li>
                                    info@kikibook.com
                                </li>
                                <li>
                                    1900000000
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                            <ul class="nav-link float-right">
                                <li>
                                    <a href="#dangnhap">Đăng nhập</a>
                                </li>
                                <li>
                                    <a href="#dangky">Đăng ký</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        
            <div class="header-main mt-20">
                     
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <a href="#">
                                <img src="./images/logo.png" alt="brand-logo" class="img-logo">
                            </a>
                        </div>                   
                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                            <form>
                                <div class="input-group">
                                    <input 
                                        type="text" 
                                        class="form-control"  
                                        name="keyword"
                                        placeholder = "Tìm kiếm sản phẩm mong muốn ... "
                                    />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-danger">
                                            <span class="search-button fa fa-search"></span>
                                        
                                        </button>
                                    </span>
                                </div> 
                            </form>      
                        </div>                   
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <div class="shopping-cart">
                                <span class="fa fa-shopping-cart"></span>
                                <p>GIỎ HÀNG</p>
                            </div>
                        </div>                
                    </div>
                </div>
        </header>
        <div class="menu-and-slide mt-20">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <nav class="main-menu">
                        <span onclick="togglemenu()">DANH MỤC</span>
                        <ul id="toggle" class="off">
                            <li>
                                <a href="">SÁCH BÁN CHẠY</a> 
                            </li>
                            <li>
                                <a href="">SÁCH MỚI PHÁT HÀNH</a> 
                            </li>
                            <li>
                                <a href="">SÁCH TIẾNG VIỆT</a>           
                            </li>
                            <li>
                                <a href=""> SÁCH TIẾNG ANH</a>
                            </li>
                            <li>
                                <a href="">SÁCH NỔI BẬT</a>     
                            </li>
                            <li>
                                <a href="">SÁCH SẮP PHÁT HÀNH</a> 
                            </li>
                            <li>
                                <a href="">VĂN PHÒNG PHẨM</a> 
                            </li>
                            
                        </ul>
                    </nav>
                </div>
                
            </div>
        </div>
        <div class="content">
            <div class="book-detail">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="book-image">
                            <img class="img-responsive" src="./images/nhung_cuoc_phieu_luu_cua_huckleberry_finn_dinh_ti_.jpg" alt="nhung_cuoc_phieu_luu_cua_huckleberry_finn_dinh_ti_  ">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="book-main">
                            <h3>Những Cuộc Phiêu Lưu Của Huckleberry Finn</h3>
                            <img src="./images/stars.png" alt="star-rating">
                            <a href="#" class="rating">Xem 32 đánh giá</a>
                            <br><br>
                            <p class="author">Tác giả:</p><a href="#">Mark Twain</a>
                            <hr/>
                            <p class="price">59.499<sup> đ</sup></p>
                            <p class="save">Tiết kiệm: 30% (25.501 đ)</p>
                            <p class="save">Giá thị trường: 85.000 đ</p>
                            <hr/>
                        </div>
                        <div class="order">   
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <p>Số lượng: </p>     
                                    <input type="number" name="quantity" min="1" max="100" placeholder="1">
                                </div> 
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <div class="like-button">
                                        <span class="far fa-heart heart-icon"></span>
                                        <span class="like-text">Yêu thích</span>
                                    </div>
                                </div>        
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 order-cart">     
                                    <button type="button" class="btn btn-danger" name="order-cart"><span class="fa fa-shopping-cart order-cart">
                                    </span>Thêm vào giỏ hàng</button>
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>  
            </div>
            <div class="mt-20">
                <h4>THÔNG TIN CHI TIẾT</h4>
                <div class="info-detail">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr>
                                        <th>Công ty phát hành</th>
                                        <td>Đinh tị</td>
                                    </tr>
                                    <tr>
                                        <th>Nhà xuất bản</th>
                                        <td>Nhà xuất bản văn học</td>
                                    </tr>
                                    <tr>
                                        <th>Kích thước</th>
                                        <td>14.5 x 20.5 cm</td>
                                    </tr>
                                    <tr>
                                        <th>Tác giả</th>
                                        <td>Mark Twain</td>
                                    </tr>
                                    <tr>
                                        <th>Loại bìa</th>
                                        <td>Bìa mềm</td>
                                    </tr>
                                    <tr>
                                        <th>Số trang</th>
                                        <td>415</td>
                                    </tr>
                                    <tr>
                                        <th>Ngày xuất bản</th>
                                        <td>06-2015</td>
                                    </tr>
                                    <tr>
                                        <th>SKU</th>
                                        <td>2511376617665</td>
                                    </tr>
                                </table>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-20">
                <h4>GIỚI THIỆU SÁCH</h4>
                <div class="book-introduce">
                    <h5>
                        Những Cuộc Phiêu Lưu Của Huckleberry Finn
                    </h5>
                    <p>
                            Ernest Hemingway từng nói: “Toàn bộ văn học Mỹ hiện đại đều thoát thai từ một cuốn sách của Mark Twain, đó là Những cuộc phiêu lưu của Huckleberry Finn”.<br><br>
                            Sau những cuộc phiêu lưu cùng Tom Sawyer, Huck Finn được bà quả phụ Douglas đón về nuôi. Nhưng với bản tính ưa tự do, Huck không chịu nổi việc phải ăn vận sạch sẽ, học hành theo khuôn phép trưởng giả dù được sống giàu sang. Cộng thêm với việc người cha tưởng đã chết  đột ngột trở về tiếp tục hành hạ, gây rắc rối cho cậu, Huck quyết định cùng Jim – một nô lệ da đen bỏ trốn – cùng xuôi dòng Mississippi, bắt đầu những cuộc phiêu lưu mới.<br><br>    
                            Nhiều chuyện dở khóc dở cười đã xảy ra trong chuyến phiêu lưu. Không chỉ thế, Huck còn lâm vào những tình huống nguy hiểm khi bị cuốn vào cuộc tranh chấp giữa hai dòng họ với những cuộc đọ súng chết chóc... Nhưng cũng chính trong hoàn cảnh ngặt nghèo nhất, Huck đã nhận ra giá trị của cuộc sống để hướng về sự tự do và hết lòng giúp đỡ người nô lệ da đen tội nghiệp. Từ một cậu bé chỉ biết phá phách, Huck đã xác định rõ ràng mục đích sống, biết phân biệt đúng sai bằng trái tim thuần hậu và thoát khỏi những định kiến méo mó được nhồi nhét qua cách giáo dục sai trái.<br><br>
                            Các nhà phê bình văn học đã đánh giá Những cuộc phiêu lưu của Huckleberry Finn là tiểu thuyết ưu tú nhất của Mark Twain, bởi tác giả đã vận dụng một cách nhuần nhuyễn phương ngữ của nhiều vùng, nhiều tầng lớp người để diễn tả những trạng huống tâm lý phức tạp, cũng như mô tả xuất sắc cảnh vật thiên nhiên. Tác phẩm này đã lọt vào danh sách những tiểu thuyết hay nhất mọi thời đại của văn học Mỹ, và rất nhiều lần được đưa lên màn ảnh.<br><br>
                    </p>
                </div>
            </div>
        </div>
        <footer>
            
            <div class="row container-footer">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <h5>Về công ty</h5>
                    <a href="#">Giới thiệu công ty</a>
                    <a href="#">Hệ thống trung tâm-nhà sách</a>
                    <a href="#">Điều khoản sử dụng</a>
                    <a href="#">Chính sách bảo mật</a>     
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <h5>Hỗ trợ khách hàng</h5>
                    <a href="#">Phương thức vận chuyển</a>
                    <a href="#">Phương thức đổi trả</a>
                    <a href="#">Bao sách plastic miễn phí</a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <h5>Sản phẩm</h5>
                    <a href="#">Sách mới phát hành</a>
                    <a href="#">Sách nổi bật</a>
                    <a href="#">Sách khuyến mãi</a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <h5>Liên hệ</h5>
                    <div class="footer-contact">                           
                        <span class="fa fa-map-marker-alt"></span>
                        <span class="footer-contact-info">Nguyễn Văn Cừ, Quận 5, TP.HCM</span>
                        <br><br>
                        <span class="fa fa-envelope"></span>
                        <span class="footer-contact-info">info@kikibook.com</span>
                        <br><br>
                        <span class="fa fa-phone"></span>
                        <span class="footer-contact-info">1900000000</span>
                    </div>
                </div>
            </div>   
        </footer>
    </div>
    
    
    
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script>
       function togglemenu() {
          $("#toggle").toggleClass('off');
       }
    </script>
</body>
</html>