<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/fontawesome-all.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Nhà sách KiKi</title>
</head>
<body>
    <header>  
        <!-- <div class="top-banner-block img-responsive">
            <p>
                <a href="#">
                    <img src="https://www.fahasa.com/media/wysiwyg/Thang-5-2018/Summer-1263x80.jpg" alt="logo">
                </a>
            </p>
            <p>TOP BANNER BLOCK</p>
        </div> -->
        <div class="header-link">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <ul class="nav-link">
                            <li>
                                info@kikibookstore.com
                            </li>
                            <li>
                                1900000000
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <ul class="nav-link float-right">
                            <li>
                                <a href="#">Đăng nhập</a>
                            </li>
                            <li>
                                <a href="#">Đăng ký</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-main mt-20">
            <div class="container-fluid">               
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a href="#">
                            <img src="./images/logo.png" alt="brand-logo">
                        </a>
                    </div>                   
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <form>
                            <div class="input-group">
                                <input 
                                    type="text" 
                                    class="form-control"  
                                    name="keyword"
                                    placeholder = "Tìm kiếm sản phẩm mong muốn ... "
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger">
                                        <span class="search-button fa fa-search"></span>
                                       
                                    </button>
                                </span>
                            </div> 
                        </form>      
                    </div>                   
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div class="shopping-cart">
                            <span class="shopping-cart fa fa-shopping-cart"></span>
                            <p>GIỎ HÀNG</p>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <nav>
            
        </nav>
    </div>
    
    
    
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>